*{
    margin: 0%;
    padding: 0%;
}
.container{
    width: 100%;
    height: 200vh;
    background-color: aliceblue;
}
.candynuud{
    width: 100%;
    height: 100%;
    background-color: rgb(38, 36, 39);
    display: flex;
    justify-content: center;
    
}
.huree{
    width: 20%;
    height: 25%;
    background-color: antiquewhite;
    display: flex;
}
.neg{
    width: 100%;
    height: 98%;
    margin: 5px;
    padding-bottom: 0%;
    background-color: aqua;
}
.zuragnii{
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img{
    width: 50%;
    height: 60%;
    border-radius: 15px;
}
.zahialga{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.darah{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  button:active {
    transform: scale(0.9);
  }
  .uuruu{
    display: flex;
    width: auto;
    height: auto;
  }
