* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 1007px;
    background-color: rgb(245, 145, 240);
}

.head {
    width: 100%;
    height: 6%;
    background-color: aquamarine;
    display: flex;
}

.head1 {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
}

.head2 {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: end;
}

.body {
    width: 100%;
    height: 94%;
    background-color: cadetblue;
    display: flex;
}

.logo {
    width: 7%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.logo {
    background-size: cover;
    background-image: url(https://t4.ftcdn.net/jpg/04/98/10/27/360_F_498102777_FpnDFg3PU0n3J3McJvvh7lpdusukOFp2.jpg);
}

.type {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 123, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    color: grey;
}

.search {
    width: 25%;
    height: 100%;
    background-color: blue;
}

.settings {
    width: 7%;
    height: 100%;
    background-color: rgb(44, 21, 26);
    display: flex;
}

.about {
    width: 20%;
    height: 100%;
    background-color: rgb(51, 45, 46);
    display: flex;
}

.zahialga {
    width: 20%;
    height: 100%;
    background-color: rgb(219, 107, 129);
    display: flex;
}

.body1 {
    width: 33.33%;
    height: 70%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.huree {
    width: 50%;
    height: 50%;
    background-color: white;
    padding-top: 10%;

    border: 2px solid red;
    border-radius: 10px;
}

.heseg1 {
    width: 100%;
    height: 45%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: end;
}

.heseg2 {
    width: 100%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.zurag{
    width:100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}


.zurag img {
    width: 50%;
    height: 60%;
    background-color: darkblue;
    background-repeat: space;
    border-radius: 10px;
    background-size: cover;
}

.heseg22 {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heseg22 {
    width: 100%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
